

.container {
    margin: 16px;
    padding: 32px;
    background:  #050505;
    border-radius: 8px;
    box-shadow: rgba(999, 999, 999, 0.09) 0px 10px 50px 0px; 
}

.remove-button {
    background-color: transparent;
    border: none;
    color: tomato;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    padding: 0px 20px;
}


label {
    font-size: 8px;
    line-height: 8px;
}

p {
    font-size: 20px;
    margin: 0px;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    gap: 16px;
}


li {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    height: fit-content;
    align-items: flex-start;

    border-radius: 8px;
    padding: 24px 0px;
    background-color: #000;
    box-shadow: rgba(999, 999, 999, 0.09) 0px 2px 5px;

    min-height: 150px;

    min-width: 240px;
    max-width: 590px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #343434;
    margin: 32px 0px;
}


li:hover{
    box-shadow: rgba(999, 999, 999, 0.09) 0px 5px 20px 0px;
    transition-duration: 0.2s;

}

.todo-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 4px;
    justify-content: center;
    width: 100%;
    padding-right: 8px
}

.title-container {
    display: flex;
    gap: 12px;
    align-items: center;
}

.plus-icon {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 24px;
    border: 2px solid white;
}

form {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 12px;

    input {
        border-radius: 8px
    }

    textarea{
        border-radius: 8px;
        height: 200px
    };

    button {
        border-radius: 8px;
    }

}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        font-size: 12px;
    }
}

textarea{
    resize: none;
}

.name {
    font-weight: bold;
}

.description {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;

    width: 100%; 

    -ms-word-break: break-all;
    word-break: break-all;
    white-space: pre-wrap
}

.edit-button {
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    color: #ffffff;
    margin-left: auto;
}