
.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    height: 80px;
    background-color: #050505;
    box-shadow: rgba(999, 999, 999, 0.09) 0px 7px 29px 0px;
}

nav {   
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

a {
    text-decoration: none;
    font-size: 20px;
    height: auto;
}
